@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;

}

body {
    background-color: black;
    /* color: white; */
    width: 70vw;
    margin: 0 auto;
}


img{
    object-fit: cover;
}

button{
    cursor: pointer;
}
.menu-toggle{
    display: none;
    border: none;
    /* color: white; */
}

.small-text{
    font-size: 4px;
}



/* Navbar  */


nav {

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h2>i {
    color: rgba(230, 83, 60, 1);
}

nav>ul {
    display: flex;
    /* background-color: aqua; */
    border: 0.5px solid gray;
    width: 350px;
    border-radius:40px;

}

nav>ul li {
    list-style: none;
    padding: 8px 2px;
 
    /* background-color: aqua;  */
}

nav ul li a {
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 20px;
    color: white;
    /* background-color: rgb(168, 168, 168); */
}
nav ul li a:hover{
    background-color: rgba(230, 83, 60, 1);
}
#homecolor{
    background-color: rgba(230, 83, 60, 1);


}
/* hero */
.hero-info-holder {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-tittle {
    font-weight: 600;
    font-size: 70px;
}

.hero-tittle>span {
    font-family: "Grey Qo", cursive;
}
.hero-img-holder{
    /* margin: auto; */
    position: relative;
    width: 400px;
    /* background-color: aqua; */
}

.circle{
    width: 40px;
    height: 40px;
    background-color:  rgba(230, 83, 60, 1) ;
    border-radius: 50%;
}

.boxes{
    position: absolute;
    bottom: 80px;
    left: -80px;
    height: 80px;
    width: 180px;
    background-color:rgba(226, 226, 226, 0.151);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    backdrop-filter: blur(6px);
    
}

.box-2{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    left: 200px;
    width: 150px;
    bottom: 0;
    top: 120px;
    padding-left: 10px;
    
}


/* part 2 */

.part-2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
}

.sample-img-holder {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.sample-img-holder p {
    margin-bottom: 5px;
}

.part-2 img {
    border-radius: 50%;
    border: 3px solid rgb(63, 63, 63);
    margin-bottom: 10px;
}

.info-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* run extra section  */

.run-extra {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 20px;
    padding: 40px;
    align-items: center;
}

.run-extra img {
    width: 50%;
    height: 300px;
    border-radius: 20px;
}

.run-info {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}


/* bmi info  */

.bmi-box {

    
    position: relative;
    margin-top: 100px;
    background-color: rgba(34, 34, 34, 1);
    width: 100vw;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 50vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
}

.bmi-box-holder {
    /* background-color: #a55454; */
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.bmi-calculator {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.bmi-container {
    /* background-color: red; */
    width: 50vw;
    display: flex;
    justify-content: center;
    
    
}

table {
    border-collapse: collapse;
    margin-top: 40px;
    border: 1px solid rgb(68, 68, 68);
    text-align: left;
}

td,
th {
    border: 1px solid rgb(68, 68, 68);
    padding: 10px;
}



/* form */
.bmi-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: aqua; */
}

.bmi-box-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    margin: 5px;
}

.bmi-box-form-1 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    margin: 5px;
}

/* meet our team  */

.part-3 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;

}

.profile-holder {
    display: grid;
    width: 60vw;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(34, 34, 34, 1);
    gap: 10px;
    border-radius: 20px;
    padding: 20px;

}

.profile {
    position: relative;
    /* background-color: aqua; */
    border-radius: 15px;
    text-align: left;
}

.profile img {

    height: 220px;
    width: 100%;
    border-radius: 15px;

}

.trainer-info {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

/* footer  */

footer {
    margin-top: 100px;
    background-color: rgba(34, 34, 34, 1);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 50vh;
    padding-top: 60px;
    position: relative;
}

.footer-section {
    /* background-color: aqua; */
    width: 60vw;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 40px;
    margin: auto;
    align-items: center;
}
.rights{
    text-align: center;
    margin: 0 auto;
    /* background-color: aqua; */
}
hr{
    margin: auto;
    width: 60vw;
}
.right-holder{
    /* text-align: center; */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer-info-sec{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Extra modules */

.btn-primary {
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 15px;
}

.gray-info {
    color: gray;
}

.sub-tittle {
    font-weight: 800;
    font-size: 40px;
}
.sub-tittle-2 {
    font-weight: 800;
    font-size: 20px;
}

.no-border-btn {
    border: none;
    background-color: rgba(230, 83, 60, 1);

}

.font-medium {
    font-size: 25px;
}

.orange {
    margin-top: 10px;
    background-color: rgba(230, 83, 60, 1);
    border: none;
}

.text-orange {
    color:  rgba(230, 83, 60, 1);
}

.hide{
    display: none;
} 

/* media query  */
@media screen and (min-width: 576px)  and (max-width: 768px) {
    
    .hero {
        flex-direction: column;
        margin-top: 100px;
        gap: 50px;
    }

    .sample-img-holder {
        
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    body{
        width: 80vw;
    }

    .run-extra img {
        width: 200px;
        height: 300px;
        border-radius: 20px;
    }
    .run-info {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bmi-container{
        margin-right: auto;

    }
    .bmi-box-holder {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 90vw;
        margin: 0 auto;
        /* background-color: aqua; */
        /* flex-direction: column; */
    }

    .bmi-box {
        height: 90vh;
        display: flex;
    }


    .profile-holder {
        width: 80vw;
    
    }


    footer{
        height: 70vh;
    }
    .footer-section {
        /* background-color: aqua; */
        grid-template-columns: repeat(2, 1fr) ;
    }
    .footer-logo{
        grid-column: span 2;
    }
}

@media screen and (max-width: 576px)   {

    .nav-pages{
        display: none;
    }
    .menu-toggle{
        display: block;
        color: rgb(255, 255, 255);
        background-color: black;
        border: none;
        font-size: 20px;
    }

    .hero {
        flex-direction: column;
        margin-top: 100px;
        gap: 50px;
    }

    
    .sample-img-holder {
        
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    body{
        width: 80vw;
    }

    .run-extra{
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: aquamarine; */
        place-items: center;
        gap: 20px;
    }
    .run-extra img {
        width: 350px;
        height: 300px;
        border-radius: 20px;
    }
    .run-info {
        width: 300px;
        display: flex;
        gap: 10px;
    }

    .bmi-box-holder {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 90vw;
        margin: 0 auto;
        /* background-color: aqua; */
        /* flex-direction: column; */
    }

    .bmi-box {
        height: 100vh;
        display: flex;
    }


    .profile-holder {
        width: 80vw;
        grid-template-columns: 1fr;
    
    }


    footer{
        height: 90vh;
    }
    .footer-section {
        /* background-color: aqua; */
        grid-template-columns: 1fr ;
    }
   
}
